body{
    background-color: #eaeaea;
    overflow: hidden;
}
/* ================================================================================================== */
#header  {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: +2;
 }

 #header .logo {
    width: 90px;
    height: 90px;
    float: left;
    position: absolute;
    line-height: 100px;
    margin-left: 20px;
 }
 
 #nav {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #nav > li {
     display: inline-block;
 }
 
 #nav li {
     position: relative;
     list-style-type: none;
 }

 #nav > li > a {
    line-height: 100px;
 }
 
 #nav li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0 24px;
    text-transform: uppercase;
    transition: all 0.3s;
 }
 
 #nav > li:hover > a,
 #nav .sub-nav li:hover a {
     color: red;
 }
 
 #nav .sub-nav,
 .sub-sign{
     display: none;
     border-radius: 4px;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }

 #nav .sub-nav {
    top: 76px;
    left: 0;
 }
 
 #nav li:hover .sub-nav,
 .group li:hover .sub-sign {
     display:  block;
     position: absolute;
     background-color: #fff;
     min-width: 180px;
 }
 #nav .sub-nav li {
     width: 100%;
     line-height: 46px;
 }
 
 #nav .sub-nav a{
     color: #333;
     width: 100%;
 }

 #header .group {
    margin-right: 20px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
 }

 #header .group li{
   display: inline-block;
 }

 #header .group > li > a,
 .showpopup{
    color: black;
    line-height: 100px;
    padding: 0 10px;
 }

 .group .sub-sign {
    position: absolute;
    top: 76px;
    left: -30px;
 }

 .group .sub-sign li {
    display: block !important;
 }

 .group .sub-sign li a {
    color: black;
    font-size: 20px;
    line-height: 46px;
    text-decoration: none;
 }

 .group .sub-sign li:hover a {
    color: red;
 }
 
 
/* ================================================================================================== */

#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}

.tablet-logo {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 10px;
   z-index: 1;
}

#root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
}

#root .root-container {
    position: relative;
    background: #f6f0f0;
    width: 600px;
    min-height: 500px;
    border-radius: 20px;
    animation:showcontent ease-in-out 0.6s 1 forwards
} 

#root .root-heading {
 margin-top: 50px;
}

#root .root-close {
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
}

#root .root-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

#root .logo-sign {
    width: 120px;
    height: 120px;
}

#root .root-body {
    margin-top: 30px;
     width: 83.333333%;
     margin-left: auto;
     margin-right: auto;
}

#root .root-body input {
    margin-top: 10px;
    border-radius: 20px;
}

#root .root-body .root-btn{
    width: 500px;
    color: #fff;
    background: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
}

#root .root-footer {
    margin-top: 20px;
   text-align: center;
   line-height: 1.4;
}

.open {
    display: flex !important;
}

.remove {
    display: none !important;
}



/* ============================================================================================================================= */


